h1{
  color:blue;
}
#div1{
  background-color:white;
}
#div2{
  background-color:yellow;
}
  #div3{
    background-color:lightblue;
  }
  #div4{
    background-color:green;
  }
  #div1,#div2,#div3,#div4{
    border:dashed;
  }
